/.ipynb_checkpoints
/.vscode
/data
/results
/riccia_imgs
/riccia_imgs_selected
/riccia_imgs_cropped
/sam_models
/Sporenbilder
result_pictures/
generated_imgs_*
_Sortierung
commands.txt
sam_riccia.py
gan_128_pretr.py
__pycache__
fake_imgs
conf*
